<app-header></app-header>
<div class="page-wrapper">
  <div class="main-container">
    <mat-tab-group>
        <mat-tab label="Login">
            <div class="button-container" (click)="signIn()">
                <div class="logo"><img height="50px" src="../../../../assets/img/facebook.jpg" alt=""></div>
                <div class="button facebook-button"><span>Login up with Facebook</span></div>
            </div>
            <div class="divider-container">
              <span>OR</span>
            </div>
            <div>
              <input type="text" placeholder="username">
              <input type="text" placeholder="password">
            </div>
            <div class="cta-button button" (click)="signIn()">
              <span>LOGIN</span>
            </div>
        </mat-tab>
        <mat-tab label="Sign Up">
            <div class="button-container" (click)="signIn()">
                <div class="logo"><img height="50px" src="../../../../assets/img/facebook.jpg" alt=""></div>
                <div class="button facebook-button"><span>Sign up with Facebook</span></div>
            </div>
            <div class="button-container" (click)="signIn()">
              <mat-icon class="logo">mail</mat-icon>
              <div class="button">Sign up with email</div>
            </div>
            <p class="small-text">By signing up I agree to the <a (click)="goToTerms()">Terms of Service</a> and <a (click)="goToTerms()">Privacy Policy</a></p>
          </mat-tab>
      </mat-tab-group>
    </div>
</div>