@import "../app.component.scss";

.page-wrapper {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
    .main-container {
        max-width: 600px;
        height: 405px;
        display: flex; 
        justify-content: center;
    }
}

.mat-tab-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.mat-tab-group {
    width: 600px;
}
mat-tab {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    margin: 30px 0;
    cursor: pointer;
}
.button {
    color: white;
    background-color: $main-color;
    display: flex;
    height: 50px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

mat-icon.logo {
    background-color: $main-color;
    color: #fff;
}
mat-icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-text{
    font-size: 9px;
    text-align: center;
    a {
        color: #4e81af;
        text-decoration: underline;
        cursor: pointer;
    }
}
.button-container .material-icons {
    font-size: 34px;
    width: 76px;
}

.facebook-button.button {
    background-color: #3c5a99;
}

.divider-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
input {
    background: #fff;
    height: 50px;
    min-width: 150px;
    width: 50vw;
    padding-left: 10px;
    border: 1px solid #eaeaea;
}

.cta-button {
    position: relative;
    width: 350px;
    margin-top: 50px;
}

@media only screen and (max-width: 649px){
    .page-wrapper {
        max-width: 350px;
        .main-container {
            max-width: 350px;
        }
    }
    // input {
    //     // width: 63vw;
    // }
    .cta-button {
        width: 250px;
    }
}