<mat-drawer-container class="header">
  <mat-drawer #drawer class="main-drawer">
    <div class="list-item action-button" *ngIf="!currentUser">
      <div class="button-container">
          <app-action-button ctaText="Login" size="'lg'" (click)="goToSignin()"></app-action-button>          
      </div>
      <div class="button-container">
          <app-action-button ctaText="SignUp" size="'lg'" (click)="goToSignin()"></app-action-button>          
      </div>
    </div>
    <div *ngIf="currentUser">
      <div class="right-nav menu" (click)="drawer.toggle()">
        <img *ngIf="!currentUser" width="35px" height="35px" src="../../../assets/img/profileicon.png" alt="">
        <img *ngIf="currentUser && currentUser.profileImage" width="35px" height="35px" src="{{currentUser.profileImage}}" alt="User Image"> 
        <p>Welcome</p>    
      </div>
      <button mat-menu-item (click)="goToMap()">Map</button>              
      <mat-divider></mat-divider>
      <div class="list-item" (click)="goToProfile()">Profile</div>
      <mat-divider></mat-divider>
      <!-- <div class="list-item">Your Posts</div>  
      <mat-divider></mat-divider>
      <div class="list-item">Your Orders</div>     
      <mat-divider></mat-divider>
      <div class="list-item">Favoritess</div>   -->
    </div>
    <mat-divider></mat-divider>
    <div (click)="goToHome()" class="list-item">
      Home
    </div>
    <mat-divider></mat-divider>
    <div (click)="goToMap()" class="list-item">
        Map View
    </div>
    <mat-divider></mat-divider>
    <!-- <div class="list-item">
      Set up your business
    </div>
    <mat-divider></mat-divider>
    <div class="list-item">
      How it works
    </div>
    <mat-divider></mat-divider>
    <div class="list-item">
      Search
    </div>
    <mat-divider></mat-divider>
    <div class="list-item">
      About
    </div> -->
    <mat-divider></mat-divider>
    <div class="list-item" (click)="logOut()" *ngIf="currentUser">
      Logout
    </div>
  </mat-drawer>
  <mat-drawer-content>
      <mat-toolbar *ngIf="!currentUser">
        <div class="nav-container main">
            <div class="right-nav logo">
              <a routerLink="/" routerLinkActive="active">
                <span>Daily</span>
                <span>Destiny</span>
              </a>
            </div>
            <div class="left-nav">
              <span (click)="goToSignin()">Sign In</span>
              <span (click)="goToMap()">Map View</span>
              <span (click)="goToHome()">Home</span>
            </div>
        </div>
        <div class="nav-container mobile">
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>
          <div class="logo">
              <a (click)="goToHome()"routerLinkActive="active">
                <span>Daily</span>
                <span>Destiny</span>
              </a>
            </div>
        </div>
      </mat-toolbar>

      <mat-toolbar *ngIf="currentUser">
        <div class="nav-container main authorized">
            <div class="right-nav logo">
              <a (click)="goToHome()" routerLinkActive="active">
                <span>Daily</span>
                <span>Destiny</span>
              </a>
            </div>
            <div [matMenuTriggerFor]="settingsMenu" class="left-nav">
                {{currentUser.userName}}     
              <img *ngIf="!currentUser" width="30px" height="30px" src="../../../assets/img/profileicon.png" alt="">
              <img *ngIf="currentUser && currentUser.profileImage" width="30px" height="30px" src="{{currentUser.profileImage}}" alt="User Image"> 
            </div>
          </div>
          <div class="settings-menu">
            <mat-menu #settingsMenu="matMenu"> 
              <button></button>
              <button mat-menu-item (click)="goToMap()">Map</button>              
              <button mat-menu-item (click)="goToProfile(drawer)">Profile</button>
                <!-- <button mat-menu-item>Your Posts</button>
                <button mat-menu-item>Your Orders</button>
                <button mat-menu-item>Favorites</button>
                <button mat-menu-item>Set Up Your Business</button>
                <button mat-menu-item>How It Works</button>
                <button mat-menu-item>Search</button>
                <button mat-menu-item>About</button> -->
              <button mat-menu-item (click)="logOut()">Logout</button>
            </mat-menu> 
          </div>
        <div class="nav-container mobile">
          <mat-icon (click)="drawer.toggle()">menu</mat-icon>            
          <div class="logo">
              <a routerLink="/" routerLinkActive="active">
                <span>Daily</span>
                <span>Destiny</span>
              </a>
            </div>
        </div>
      </mat-toolbar>
  </mat-drawer-content>

</mat-drawer-container>
<mat-divider></mat-divider>