<div class="add-product-container">
    <mat-card >
      <mat-card-header>
        <mat-card-title>Add Product</mat-card-title>
      </mat-card-header>
      <div class="add-img">
        <input type="file" accept="image/*" (change)="onFileSelected($event.target.files)">
        <img mat-card-image width="250px" height="250px"  *ngIf="imageUrl" [src]="imageUrl" alt="Pink hair">
        <div class="text-overlay">
          <p>Add Photo</p>
        </div> 
      </div>

      <mat-card-content class="input-form-container">

        <div class="form-field-container">
          <mat-label>Product Name</mat-label>
          <input matInput placeholder="Voluminous Shampoo with Avocado" type="text" [(ngModel)]="newProduct.name">
        </div>
        <div class="form-field-container">
          <mat-label>Choose Brand</mat-label>
          <mat-select placeholder="--Select--" [(ngModel)]="newProduct.brand">
            <mat-option *ngFor="let brand of brandList" [value]="brand" >
              {{brand}}
            </mat-option>
          </mat-select>
        </div>
        <div class="keyword-container form-field-container">
          <div>
            <mat-label>Tags</mat-label>
            <input matInput [(ngModel)]="newProduct.keywords" placeholder="Keywords(ie: 4c, lace, easy diy)">  
          </div>          
          <div>
              <mat-label>Price ($):</mat-label><input [(ngModel)]="newProduct.price" type="text">
          </div>
        </div>
        <div class="form-field-container details">
          <mat-label>Product Details</mat-label>
          <textarea matInput type="text" [(ngModel)]="newProduct.description" placeholder="Tell us everything you know about the product"></textarea>
        </div>
      
      </mat-card-content>

      <mat-card-actions >
        <div class="action-set">
          <button class="cancel" (click)="cancel()" mat-button>Cancel</button>
          <button *ngIf="canSend" class="done" (click)="done()" mat-button>Done</button>
        </div>
      </mat-card-actions>
    </mat-card>
</div>