<app-header></app-header>
<section id="home">
  <div class="content-container">
    <div class="text-container">
        <h5 class="subheading">
            Start your daily destiny focus now
        </h5>
        <h2 class="heading">
          Today I am...
      </h2>
        <!-- <p class="sub-heading">in your neighborhood, when you see it</p> -->
        <!-- <div *ngFor="let category of categories | async">
          {{category| json}}
          
                  <div *ngFor="let cat of category.subcategories">  {{cat | json}}
                      
                  </div>
        </div> -->
    </div>
  
    <div class="main-content full">
        <!-- <button [matMenuTriggerFor]="search">
          <input type="text" placeholder="products, brand, trends">
          <input placeholder="Current Location">
        </button> -->
        <div class="button-container">
          <app-action-button ctaText="Start" (click)="startDailyFocus()"></app-action-button>
        </div>
        <!-- <mat-menu #search="matMenu"> 
            <button (click)="searchDatabase()" mat-menu-item *ngFor="let category of categories | async">  {{category.name | json}}</button>
        </mat-menu>  -->
    </div>

    <div class="main-content mobile">
      <!-- <button [matMenuTriggerFor]="menu">
        <input type="text" name="" id="" placeholder="products, brand, trends" >
      </button> -->
      <div class="button-container">
        <app-action-button (click)="startDailyFocus()" ctaText="Search" size="'md'"></app-action-button>
      </div>
      <!-- <mat-menu #menu="matMenu"> 
          <button (click)="searchDatabase()" mat-menu-item *ngFor="let category of categories | async">  {{category.name | json}}</button>
      </mat-menu>  -->
      
    </div>
    
  </div>
</section>
<!-- 
<aside>
    <h3>The #1 platform for local store owners</h3>
    <p>Manage your business, accept payments and grow your clientele using PostMap software</p>
    <button mat-raised-button >Set up your store</button>  
  </aside>
<section id="browse">
  <h1>Browse & Discover</h1>
  <mat-grid-list cols="3" class="content-container full">
    <mat-grid-tile class="block-one">SUPPLIERS</mat-grid-tile>
    <mat-grid-tile class="block-two">HI-IN-DEMAND</mat-grid-tile>
    <mat-grid-tile class="block-three">TRENDS</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list cols="1" class="content-container mobile">
      <mat-grid-tile class="block-one">HI-IN-DEMAND</mat-grid-tile>
      <mat-grid-tile class="block-two">SUPPLIERS</mat-grid-tile>
      <mat-grid-tile class="block-three">TRENDS</mat-grid-tile>
    </mat-grid-list>
</section> -->
<app-footer class="footer"></app-footer>