<div class="page-wrapper">
  <app-header></app-header>
  <div class="main-container">
    <div>
      <div id="profile" *ngIf="postListView" [ngClass]="{'profile-display': !postListView}">
        <div>
          <div class="profile-pic">
            <img *ngIf="profile" src="{{profile.profileImage}}" alt="">
          </div>
          <div class="info-container">
            <div (click)="goToEditProfile()" class="pen" *ngIf="canEdit && !publicView">
              <p>Edit Profile</p>
              <mat-icon>edit</mat-icon>
            </div>
            <div *ngIf="profile" class="username">{{profile.storeName}}</div>
            <div class="review-icon" *ngIf="canEdit && publicView">
              <div *ngFor="let star of stars">
                  <mat-icon>star_border</mat-icon>
              </div> 
              <p>Reviews</p>
            </div>
            <p class="address-container" *ngIf="profile.address">
                <mat-icon>location_on</mat-icon> {{profile.address}}
            </p>
            <p class="address-container" *ngIf="!profile.address">
                <mat-icon>location_on</mat-icon> Worldwide
            </p>
            <div *ngIf="canEdit && !publicView">
              <app-action-button (click)="toggleProfileView()" *ngIf="canEdit" class="profile-button" ctaText="Preview Public Mode" size="'lg'"></app-action-button>
            </div> 
            <div *ngIf="canEdit && publicView">
              <app-action-button (click)="toggleProfileView()" *ngIf="canEdit" class="profile-button" ctaText="Edit Mode" size="'lg'"></app-action-button>
            </div>  
            <div *ngIf="!canEdit">
              <app-action-button *ngIf="!canEdit" class="profile-button" ctaText="Contact Seller" size="'lg'"></app-action-button>
            </div>    
          </div>
        </div>
      </div>
      <div class="add-post-container">
        <app-add-post (doneAddingPost)="doneAdding($event)" *ngIf="!postListView"></app-add-post>
      </div>
    </div>

    <div  id="products">
        <mat-tab-group [selectedIndex]="selectedTab" *ngIf="postListView">
          <mat-tab label="Active Posts">
            <mat-card *ngIf="canEdit && !publicView" class="add-tile" (click)="addPost()">
              <mat-icon>add</mat-icon>
            </mat-card>
            <div class="active-products-container">

              <mat-card class="product-tile" *ngFor="let product of products">
                  <div class="profile-pic">
                    <img mat-card-image *ngIf="product.image" src="{{product.image}}" alt="Photo of a Shiba Inu">
                  </div>
                  <mat-card-content>
                      {{product.name}}
                      {{product.brand}}
                      {{product.description}}   
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button>${{product.price}}</button>
                  </mat-card-actions>
                </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Out of stock">
              
            </mat-tab>
        </mat-tab-group>
    </div>
  </div>
  <app-footer class="footer"></app-footer>
</div>