@import "../../app.component.scss";

.button-container {
    background-color: $main-color;
    height: 50px;
    padding: 2px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    cursor: pointer;
    p  {
        font-size: 12px;
        background: #fff0;
        margin: 0px;
    
    }
}
